@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
    opacity: 1 !important;
  }

  .navigation {
    visibility: visible !important;
    opacity: 1 !important;
    display: block !important;
    text-align: center;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.top-bar {
  // background: #B4D903;
  color: #fff;
  padding: 5px 0;
  font-size: 13px;
}

.top-bar a {
  color: #fff;
}

.top-bar .topbar-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.display-flex-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

